rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection
    match /users/{userId} {
      allow read: if true;
      allow write: if true;
    }
    
    // Emails collection
    match /emails/{emailId} {
      allow read: if true;
      allow write: if true;
    }
  }
}
